# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
# Для проведения аналитики необходимо, для начала, создать датафрейм с данными о соотношении количестива детей 
#и факта наличия задолжностей перед банком. А также для более полного поанимания выборки необходимо посчитать количество 
#людей относящихся к группам по количеству детей
data.groupby('children').agg({'debt': ['mean' , 'count']})

              debt
              mean  count
children
0         0.075438  14091
1         0.092346   4808
2         0.094542   2052
3         0.081818    330
4         0.097561     41
5         0.000000      9

**Вывод 2.0.** Основываясь на полученной сводной таблице можно сделать следцющие выводы:
1) кредитозаемщики у которых 5 детей вовремя возвращают кредиты, но мы не можем использовать эти данные, так как выборка слишком мала, чтобы делать какие-либо выводы по данной категории людей. То же самое можно сказать о людях в семье которых 3 и 4 ребенка. 
2) Также можно заметить, что кредитозаемщики без детей заметно чаще возвращают кредиты вовремя, нежели те, у кого дети есть. Эту гипотезу необходимо проверить.

In [24]:
#Создадтим новый столбец в котром будет отображено наличие либо отсутствие детей у кредитозаемщиков
def children_category(child):
    if child == 0:
        return 'Нет детей'
    if child >= 1:
        return 'Есть дети'
data['children_category'] = data['children'].apply(children_category)

In [25]:
#после, сгруппируем данные по новому столбцу и получим данные о соотношении возврате кредита вовремя
data.groupby('children_category').agg({'debt': ['mean' , 'count']})

                       debt
                       mean  count
children_category
Есть дети          0.092403   7240
Нет детей          0.075438  14091

**Вывод** Основываясь на полученной сводной таблице можно понять, что статистически кредитозаемщики без детей имеют задолженности реже чем те, у кого дети есть. Вероятно из-за больших финансовых возможностей.
Отвечая на поставленный вопрос о влиянии количества детей на возврат кредита можно сказать, что количество детей статистически меньше влияет на возврат кредитов, нежели само наличие либо отсутствие детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
# Создадим новый датафрейм в которому будет отображено количество людей по группам связанным с семейным положением 
#и общим их количеством
data.groupby('family_status').agg({'debt': ['mean' , 'count']})

                           debt
                           mean  count
family_status
Не женат / не замужем  0.097639   2796
в разводе              0.070648   1189
вдовец / вдова         0.066246    951
гражданский брак       0.093130   4134
женат / замужем        0.075606  12261

**Вывод:** На основании полученного датафрейма можно сделать несколько выводов:
1) больше всего должников находятся в категории не женатых и незамужних также как и люди проживающие в гражданском браке
2) меньше всего дожников находятся в группе вдов/вдовцов и разведенных
3) в середине расположились люди относящиеся к категории женатых и замужних 
На основании этих выводов можно сформировать гипотезу о том, что люди относящиеся к различным группам по семейному положению будут кредитоспособны по разному, а семейное положение влияет на возврат кредита вовремя. 
Для подтверждения гипотезы сформируем другой столбец с другими категориями

In [27]:
# Для начала необходимо проверить уникальные значения столбца family_status
data.family_status.unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Для проверки этой гипотезы выделим 3 группы людей: 
1) Свободные от отношений - люди, которые не находятся в отношениях и не были замужем и женаты
2) Обладавшие партнером - люди, которые в настоящий момент одиноки, но прежде были замужем или женаты
3) В отношениях - люди находящиеся в браке либо в сожительтве. Люди обладающием партнером

Для проверки этой гипотезы выделим 3 группы людей:
1) Еще не в браке - люди, которые проживают в гражданском браке (сожительстве) либо не имеют отношений
2) В Браке - замужние и женатые
3) Удже не в браке - люди, которые раньше были в браке, но в настоящий момент не замужем/ не женаты

In [27]:
def fam_type (fam):
    if fam == 'Не женат / не замужем':
        return 'Еще не в браке'
    elif fam == 'в разводе':
        return 'Уже не в браке'
    elif fam == 'вдовец / вдова':
        return 'Уже не в браке'
    elif fam == 'гражданский брак':
        return 'Еще не в браке'
    elif fam == 'женат / замужем':
        return 'В браке'
data['family_category'] = data['family_status'].apply(fam_type)

In [28]:
# После, сгруппируем по категориям полученным в новом столбце
data.groupby('family_category').agg({'debt': ['mean' , 'count']})

                     debt
                     mean  count
family_category
В браке          0.075606  12261
Еще не в браке   0.094949   6930
Уже не в браке   0.068692   2140

**Вывод:** Несмотря на большой разброс колличественных показателей можно пронаблюдать, люди которые в браке не состояли и не состоят менее кредитоспособны относительно других категорий граждан. Более кредитоспособными являются люди в браке, и те, кто уже не в браке. Можно сделать вывод о том, что определенная зависимость возврата кредита в срок и семейного положения кредитозанимателя, определенно, имеется, но не является ключевой, так как необходимо рассматривать и другие критерии оценки кредитоспособности гражданина.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Ранее мы уже создали отдельный стобец, где присвоили категорию кредитополучателям. Для ответа на поставленный вопрос используем столбец с категориями

In [30]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data.groupby('total_income_category').agg({'debt': ['mean' , 'count']})

                           debt
                           mean  count
total_income_category
A                      0.080000     25
B                      0.070602   5014
C                      0.084982  15921
D                      0.060172    349
E                      0.090909     22

**Вывод:** По данной таблице мы можнм сделать несколько выводов:
1) Категории A, D, E не являются репрезентативными из-за небольшого количества участников этих групп.
2) рассматривая категории B и С можно увидеть, что более богатые кредитозаемщики, как ни странно, более кредитоспособны.
Из чего можно сделать, вывод, что уровень дохода влияет на своевременный возврат долга.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Ранее мы уже создали отдельный стобец, где присвоили категорию целям кредита. Для ответа на поставленный вопрос используем столбец с категориями

In [31]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data.groupby('purpose_category').agg({'debt': ['mean' , 'count']})

                              debt
                              mean  count
purpose_category
операции с автомобилем    0.093480   4279
операции с недвижимостью  0.072551  10751
получение образования     0.092528   3988
проведение свадьбы        0.079118   2313

**Вывод:** Основываясь на полученном датафрейме можно сделать несколько выводов:

1) Операции с автомобилем занимает лидирующее место по просрочке кредитов. Вероятно, это связано с большим размером кредита и дополнительными затратами на автомобиль, что негативно влияет на платежеспособность кредитозаемщика.
2) Кредиты связанные с Получением образования также возвращаются с большим количеством просрочек. Вероятно это связано с кредитоспособностью студентов.
3) Лучше всего выполняют платежи по кредитам, связанным с недвижимостью и с целью проведения свадьбы.  
Статистически цели кредитования также влияют на своевременное его погашение.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Причин возникновения пропущенных данных может быть несколько: 
1) Техническая ошибка при выгрузке данных и получения csv файла 
2) Человеческий фактор - ошибка опертатора при вводе данных в систему

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана четче отражает дейтвительность, нежели среднее арифметическое. В то время как среднее значение может быть не совсем объективным отражением данных, так как на него могут влиять очень большие или очень маленькие значения в наборе данных.

### Шаг 4: общий вывод.

**Общий вывод** Каждая из преведеннвых гипотез дала нам общую информацию о тенденциях зависимости достатка, целей, семейного положения и количества детей на возврат кредита в сорк. Нет четкого единого критерия по которому можно сказать, вернет ли клиент банка кредит вовремя основываясь исключительно на одну из метрик. При вынесении решения о кредитовании человека необходимо проводить анализ по множеству критириев.